<div class="question-show-wrapper">
  <div class="conrainer">
    <div class="row">
    　<div class="question-details">
      　<div class="col-md-6 col-md-offset-3">
          <div class="question-index-single">
            <p class="question-author">
              <%= link_to @question.user.name , user_path(@question.user_id) %>
            </p>
            <p class= "question-category">
              <%= @question.category.category %>
            </p>
            <div class= "question-text">
              <%= simple_format(@question.question) %>
            </div>
            <div class= "answer-button">
              <%= link_to new_answer_path(question_id: @question.id), method: :get do %>
              <p class = "btn btn-block btn-white">回答する</p>
              <% end %>
            </div>
            <div class= "delete-button">
            　<% if logged_in? && @question.user_id == current_user.id %>
              　<%= link_to  question_path(@question.id), method: :delete do %>
                　<%= image_tag 'icons/delete.png', class: 'question-icon' %>
              　<% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <% @question.answers.each do |answer| %>
      <div class="row">
       <div class="col-md-6 col-md-offset-3">
        <div class="question-answer">
         <p class="answer-author">
          <%= link_to answer.user.name ,user_path(answer.user_id) %>
         </p>
         <div class="answer-text">
          <%= simple_format(answer.answer) %>
         </div>
           <div class= "delete-button">
            <% if logged_in? && answer.user_id == current_user.id %>
              <%= link_to  answer_path(answer.id), method: :delete do %>
                <%= image_tag 'icons/delete.png', class: 'question-icon' %>
              <% end %>
            <% end %>
           </div>
           <div class= "favorite-button">
             <% if !answer.favorite_users.include?(current_user) %>
             <%= link_to favorites_path(answer_id: answer.id, question_id: answer.question_id), method: :post do %>
               <%= image_tag 'icons/heart-black.png', class: 'question-icon' %>
             <% end %>
             <% else %>
             <%= link_to favorites_path(answer_id: answer.id, question_id: answer.question_id), method: :delete do %>
               <%= image_tag 'icons/heart-pink.png', class: 'question-icon' %>
             <% end %>
             <% end %>
             <%= answer.favorite_users.count %>
           </div>
        </div>
       </div>
      </div>
    <% end %>
  </div>
</div>