<div class= "user-show-wrapper">
  <div class= "container">
    <div class= "row">
      <div class="col-md-6 col-md-offset-3">
        <div class="user-show-single">
          <h3 class= "user-name">
            <%= @user.name %>
          </h3>
          <div class="follow-index">
            <%= link_to 'フォロー中・フォロワー' , following_user_path(@user) %>
          </div>
          <% unless current_user == @user %>
          <% if current_user.following?(@user) %>
            <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f| %>
            <%= hidden_field_tag :followed_id, @user.id %>
            <%= f.submit 'フォロー解除', class: 'btn btn-danger btn-block' %>
            <% end %>
          <% else %>
            <%= form_for(current_user.active_relationships.build) do |f| %>
            <%= hidden_field_tag :followed_id, @user.id %>
            <%= f.submit 'フォローする', class: 'btn btn-primary btn-block' %>
            <% end %>
          <% end %>
          <% end %>
          <% @user.questions.each do |question| %>
          <div class="my-question">
          <div class="user-question-category">
            <%= question.category.category %>
          </div>
          <div class="user-question">
            <%= question.question %>
          </div>
          <div class= "details">
              <%= link_to '詳細', question_path(question.id), class: 'btn btn-block btn-white' %>
          </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>